<div class="card-container">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Iniciar Sesion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="form-custom"[formGroup]="formLogin">
        <mat-form-field class="input-custom" >
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" placeholder="Correo">
        </mat-form-field>
        <mat-form-field class="input-custom" >
          <mat-label>Clave</mat-label>
          <input matInput formControlName="clave" placeholder="Contraseña" type="password">
        </mat-form-field>
        <div class="flex">
          <button mat-flat-button color="primary"(click)="inicioSesion()">Iniciar Sesion</button>
          <button mat-flat-button color="accent"(click)="registrarse()" style="margin-left: 8px;background-color: darkgreen;">Registrarse</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
